.group{
    
    font-family: 'Roboto' , sans-serif;

}

.group__tittle{

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);    
    padding:  0 8px; 
    position: relative;
    font-family: 'Roboto Slab', serif;
    display: flex;
    font-size: 24px;
    
    font-weight: 600;
    justify-content: space-between;   
    align-items: center;

    color: white;
    background-color: rgba(0,0,0, 1);
    border-radius: 8px

}

.tittle__groupName {
    padding: 8px 0px;
}

.tittle__groupItemsCount{
    text-align: center;
    width: 1em;
    border-radius: 4px;
    position: absolute;
    left: 50%;
}

.group__items {

     
    margin:8px;

}



