.Header {
    
    /* para salvar el padding que le pusimos al layout */
    
    padding:  0 12px;
    grid-row: 1 / 2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    

    display: flex;
    
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}
