.item {

    margin: 4px 0;
    --height : 55px;
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    height: var(--height);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    align-items: center;

}
.item:hover {
    
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

}

.item:hover > .pin--off {
    opacity: 1;
}

.item:hover > .pin--off:hover {
    cursor: pointer;
}

.pin--off{
    color:red;
    line-height: var(--height);
    width:auto;
    margin-right: .5em; /* 8px */
    margin-left: .5em; /* 8px */
    
    /* aca lo escondemos */
    opacity: 0;
}

.id{

    font-family: 'Roboto Slab', serif;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    min-width: 4em;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    height: 40px;
    line-height: 40px;
    align-self: center;
    
}

.item__source{

    overflow: hidden;
    padding: 4px 8px;
    flex-grow: 1;
    font-weight: 900;
    display: flex;
    flex-flow: row wrap;
    
}

.source__topic {
    
    width: 100%;
    font-size: 18px;    
    
}

.source__details {

    display: flex;
    align-items: center;
    
    width: 100%;
    font-size: 16px;

}

.details__contact {
    color: rgba(0, 0, 0, .7);
}

.details__workGroup {

    margin-left: 12px;
    display: flex;
    align-items: center;
 
}

.workgroup__icon{
    
}

.workgroup__description {
    margin-left: 4px;
    /* font-size: 14px; */
}

.item__divisor{
    padding-left: 2px;
    height: 40px;
    line-height: 40px;
    border-left: 1px solid rgba(0,0,0,.7);
    border-right: 1px solid rgba(0,0,0,.7);
}

.item__other{
    
    font-size: 16px;
    margin-left: 12px;
    padding: 4px;
    
    min-width: 250px;
    
    display: flex;
    justify-self: flex-end;    
    align-items: center;
    
    
}

.other__info {
    width: 85%;
    align-items: center;
    font-weight: bold;
}

.info__start{    
}

.info__receiver{
    display: flex;
    justify-items: flex-start;
    align-items: center;
    margin-top: 4px;
    color: rgba(0, 0, 0, .7);
}

.info__receiver .material-icons{
    margin-left: 8px;
}

.other__hits{
    margin-right: 8px;
    height: 100%;
    width: 15%;
    display:flex;
    align-items: center;
    font-weight: bold;
    
}
.other__hits:hover{
    cursor: pointer;
}