.requestItem {
    display: flex;
    flex-flow: row nowrap;
    height: 70px;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.pin--off{
    display:block;
    line-height: 40px;
    height: 70px;
    width:20px;
    margin-right: 8px;
    margin-left: 8px;
    color: rgba(0,0,0,0);
}
.pin--off:hover {
    color: rgba(0,0,0,1);
    cursor:pointer;
}

input{
    display: none;
}
input:checked ~ label{

    color:red
}

.id{
    text-align: center;
    line-height: 70px;
    height: 70px;
    width: 60px;
    border: solid 2px black;
    border-radius: 0px 8px 0px 8px;
    z-index: 20;
    background-color: black;
    color : white;
    
}
.senderInfo{
    border-radius: 8px 0 0 0 ;
    font-size: 14px;
    padding: 4px;
    width: auto;
    display: flex;
    flex-flow: row wrap;
    border: 2px solid black
}
.senderInfo__subject{
    width: 100%;
    font-size: 16px;
    font-weight: 900;
}
.senderInfo__from {
    width: 100%;
    margin: 4px 0px;
    font-size: 14px;
}
.senderInfo__sender{
    display: flex;

}
.otherInfo {
    padding: 2px;
    min-width: 200px;
    display: flex;
    flex-flow: row nowrap;
    border: 2px solid black
}